*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.ecommerce-website-section{
    min-height: 100dvh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    /* gap:2rem; */
   
    
}
.navigation-section{
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
   
}
.nav-right>img{
    width:2rem;
}
.nav-left>a>img{
    width:10rem;
}
.navigation-container{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 gap:35rem;
    
}
.nav-right{
    display: flex;
    align-items: center;
    gap:1.5rem;
    
}
.nav-right>a{
    font-size: 2rem;
    color:black;
    text-decoration: none;
}
.explore-section{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem;
}
.explore-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.explore-right>img{
    width:50rem;
}
.explore-left{
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}
.explore-left>h1{
    font-size: 3rem;
    font-weight:bold;

}
.explore-left>p{
    font-size: 1.3rem;
}
.explore-left>.button>button{
    background-color: rgb(236, 70, 9);
    font-size: 1.2rem;
    border-radius: 5rem;
    border: none;
    color:white;
    padding:1rem 2rem;
}
.images-part{
    width:20rem;
}
.images-section{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5rem;
    gap:2rem;
}
.featured-image{
    width:15rem;
}
.featured-product-section{
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:4rem;
}

.featured-product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    font-size: 1.3rem;
    
}
.featured-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.topic{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.hr-line{
    padding:0rem 5rem;
    
}
hr{
   /* width:2rem; */
   height: 0.4rem;

   background-color: red;
   border: none;
   width:5rem;
   
}
.product{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    font-size: 1.2rem;
}
.latest-product-section{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3rem;
}
.latest-product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topic1{
    font-size: 2rem;
    display: flex;
    gap:0.5rem;
    flex-direction: column;

}
.topic1>.line-hr{
    padding:0rem 3rem;
}
.latest-product{
    /* background-color: yellow; */
    padding:3rem;
    display: flex;
    flex-direction: column;
    gap:2rem;

}
.product-top{
    display: flex;
    gap:2rem;

}
.product-buttom{
    display: flex;
    gap:2rem;
}
.exclusive-section{
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5rem;
}
.smart-watch{
    width:30rem;
    border-radius:50%;
}
.exclusive-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:5rem;
}
.exclusive-container>.right{
    /* background-color: yellow; */
    display: flex;
    padding:2rem;
    font-size: 1.2rem;
    flex-direction: column;
    gap:0.6rem;

}
.exclusive-container>.right>h1{
    font-size: 3rem;
    font-weight: bolder;
}
.exclusive-container>.right>p{
    line-height: 2rem;
}
.button-latest>button{
    font-size: 1.1rem;
    padding:0.8rem;
    width:12rem;
    border-radius: 5rem;
    border: none;
    background-color: rgb(236, 70, 9);
    color:white;
}
.testimonials-section{
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
padding:5rem;
}
.users{
    width:4rem;
    border-radius: 5rem;
}
.testimonials-container{
    /* background-color: yellow; */
    padding:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.testimonials-boxes{
    display: flex;
    flex-direction: column;
    gap:1rem;
background-color: white;
border: 1px solid rgb(243, 236, 236);
justify-content: center;
align-items: center;
border-radius: 0.5rem;
padding:2rem;
font-size: 1.2rem;
text-align: center;
color:rgb(137, 133, 133);
}
.testimonials-boxes>span{
    font-weight: bold;
    color:black;
}
.quote{
     width:4rem;
   
}
.sponser-section{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.sponser-container{
    display: flex;
    gap:2.5rem;
    /* background-color: yellow; */
    padding:2rem;
    justify-content: center;
    align-items: center;
    
}
.icons{
    width:10rem;
}

.footer-section{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.footer-container{
   
    padding:4rem 8rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;
    color:white;


}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10rem;
}

.box1,.box2,.box3,.box4{
display: flex;
flex-direction: column;
gap:1rem;

}


.box2>img{
    width:10rem;
}

.footer-buttom{
    /* background-color: yellow; */
    padding:2rem;
    font-size: 1.3rem;
}